# R files - history, etc.
.Rhistory
.Rdata
*.history

# RStudio files
.Rproj.user/
*-Ex.R

# OS files
.DS_Store

# Image files (esp. tree scans)
*.jpg
*.tiff

# Script outputs
*.html
logs/
outputs/

.Rproj.user
