# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

.DS_Store

tree_cores/.Rapp.history

tree_survey/.Rapp.history

tree_survey/vegsurvey1.pdf
